body{
font-family: Tahoma;
font-size: 13px;
}
table{
    border:10px solid;
border-spacing: 0px;
    border-color: #d0d0ff;
    padding: 20px;
    width:100%;
}

th{
   
    text-align: left;
}
#emailhead{
    text-align: center;
}
.email{
    text-align: center;
}
.email:hover{
    color: #cc6600;
}
.hash{
    text-align: center;
}
td{
    white-space: 1px;
}

.yearofser{
    text-align: center;
}
tr{
    border-spacing: 0px;
    margin-left: 20px;
}
#total td{
    border-top: 2px solid black;
    font-weight: bold;
}


#totalval{
    text-align: center;
}
